# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
env/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Environment variables
.env

# OS junk
.DS_Store
Thumbs.db
